<%# <form action="/names" method="post">
<label for = "p1_name"> Player 1 name: </label>
<input type = 'text' id='p1_name' name="p1_name"><br>
<label for = "p2_name"> Player 2 name: </label>
<input type = 'text' id='p2_name' name="p2_name"><br>
<input name='Submit' type="Submit" value="Submit">
</form> %>

<form action='/names' method='POST'>
  <label for='Player 1 Name'> Player 1 name: </label>
  <input type='text' id='Player 1 Name' name='Player 1 Name'><br>
 <label for='Player 2 Name'> Player 2 name: </label>
  <input type='text' id='Player 2 Name' name='Player 2 Name'><br>
  <input type='submit' name='Submit'>
</form>